@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
  font-family: "Roboto" sans-serif;
}
:root{
  --primary-white : #fff;
  --primary-orange : #f9ab00;
  --primary-dark : rgba(225 , 225 , 225 , 0);
  --primary-red : #ef4035;
  --primary-hover-red : #f33501;
}

/* navbar */

.logo{
  width: 16.50rem;
  margin-top: 1.9rem;
}

/* Menu Link */

.nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0374rem;
  cursor:pointer;
  
}
.nav ul li {
  text-transform: uppercase;
}
.navbar-brand{
  width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
@media(max-width : 768px) {
  .navbar-brand{
    width: 7rem;
  }
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

/************************Header******************************/

.header-wrapper{
  position: relative;
  background: url(backgraound-image.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: center;
}

.main-info{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Roboto" sans-serif;
}

.main-info , h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width : 768px) {
  .main-info , h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem;
  }
}
/***********TYPED-TEXT*************/

.typed-text{
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-white);
}
/***********Button*************/

.main-offer-btn{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white) ;
  margin: 2rem;
}
.main-offer-btn:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out;
}
